# Hidden directories:
.*/

# Editors (Eclipse, WingIDE, Vim):
.sw?
.*.sw?
*~
*.bak
.project
.pydevproject
.wp[ru]


# Python package files:
*.egg
*.egg-info
__pycache__/
build
dist
eggs
sdist
develop-eggs
pip-wheel-metadata
.installed.cfg
MANIFEST


# Keep empty directories:
!*/.git*